body{	
    font: 12px Arial, Helvetica, sans-serif;
    color: #baafd3;
    background: #d5d2db ;

}


#wrap{
	width: 1000px;
	margin: auto;

}

#top_box
{
/*margin-top: 50px;
*/
	border-style:solid;
	border-color: #000000;
	border-width: 5px;
	height: 150px;	
	background-image:url(logo.jpg);
}
.clear{
	clear: both;	
}

#logo{
	width: 600px;
	float: left;
	height: 150px;	
	/*border-style:solid;
	border-color: #000000;
	border-width:5px;
	*/

}


#login{
	float: left;
	width: 250px;
	height: 150px;
	margin-left: 50px;

}
#medium_box
{
 /* margin-top: 50px;
*/

	border-style:solid;
	/*border-color: #000000;
	border-width:5px;*/

background-color:#f2f1f9;
}
#checker
{
	width: 700px;
	float: left;
	border-style:solid;
	border-color: #000000;
	border-width:5px;

}
#ads{
	float: left;
	width: 250px;
	margin-left: 20px;
	border-style:solid;
	border-color: #000000;
	border-width: 5px;
}
