

*{
    margin: 0px;
    padding: 0px;
}


body{	
    font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#d5d2db;
}

#wrap a{
color:#FFFFFF;
}

.clear{
	clear: both;	
}

#logo_bot
{
	padding-top: 50px;
	padding-left: 50px;

}

#wrap{
	width: 997px;
	margin: auto;
}

#top_box{
	padding-bottom: 5px;
	background-color:#CCCCCC;
	background-image:url(images_purple/logo.jpg);
	height: 150px;
	color:#FFFFFF;
}

/*logo*/
.header {font-size: 36px}
#logo{
	padding-left:20px;
	width: 500px;
	height: 66px;
	padding-top: 20px;
	float: left;
}


#login{
	float: left;
	padding-left: 100px;
	padding-top: 15px;
}


#content{
	background: #f2f1f9;
	padding-left: 20px;
	padding-right: 20px;	
	padding-bottom:20px;
	padding-top:30px;
}
#content a
{
  color:#000000;
}
#checker_top
{
	background:url(images_purple/checker_top.png) no-repeat;
	height:20px;
}
#checker
{
	width: 600px;
	float: left;
	padding-left: 15px;
}

#checker_con
{
	background-color: #FFFFFF;
}
/*#tabs
{

}*/
#tabs ul{
	list-style: none;
	list-style-position: outside;
}

#tabs ul.tabnames li{
	float: left;

}
#tabs ul.tabnames li{
	font-weight: 700;
	display: block;
	padding: 5px 5px 3px 3px;
	/*background: #efefef;*/
	margin-bottom: -1px;
	position: relative;
	/*color: #898989;
	cursor: pointer;
	*/
	background-color:#d4d3d9;
/*	background-image:url(images_purple/button.png); */
}
#tabs ul.tabnames li.active{
	background: #fff;
	margin-bottom: -2px;
	background-image:none;
	border: 1px solid #d0ccc9; 
	border-width: 1px 1px 0px 1px; 
	/*background-image:url(images_purple/active_tab.png);*/

}

#tab1
{
	width: 580px;
	float: left;
	margin-left: 0px;
	background-color: #FFFFFF;
	padding : 10px;
	border-top: 1px solid #d0ccc9; 

}
#tab2
{
	width: 580px;
	float: left;
	background-color: #FFFFFF;
	padding : 10px;
	border-top: 1px solid #d0ccc9; 
}	
#tab3
{
	width: 580px;
	float: left;
	background-color: #FFFFFF;
	padding : 10px;
	border-top: 1px solid #d0ccc9; 
}
.tabnames li {
	list-style:none;
	display:inline;
	}
.tabnames a {
	

	/*display:inline-block;
	background:#666;
	color:#fff;*/
	text-decoration:none;
	}

#taba
{
	margin-left: 10px;

	
}
#tabb
{
	margin-left: 5px;

}

#tabc
{
	margin-left: 5px;

}

/*______________________________*/
#inner_box
{
  margin-left:-10px;
}
#inner_box ul{
	list-style: none;
	list-style-position: outside;
}

#inner_box ul.inner_class li{
	float: left;

}
#inner_box ul.inner_class li{
	color: #000000;
	display: block;
/*	padding: 5px 5px 3px 3px;  */
	/*background: #efefef;*/
	padding-left: 7px;
	padding-top: 2px;
	position: relative;
	margin-bottom: 0px;
	/*color: #898989;
	cursor: pointer;
	*/
	width:93px;
	height:23px;
/*	background-image:url(images_dark_blue/button.png) ;*/
	background-color:#d8d8d8; 
/*	background-image:url(images_dark_blue/button.png); */
}
#inner_box ul.inner_class li.active{
	background: #ffffff;
	margin-bottom: -1px;
	color:#FFFFFF;	
	border: 1px solid #d0ccc9; 
	border-width: 1px 1px 0px 1px; 
	/*background-image:url(images_dark_blue/active_tab.png);*/
	background-image:none;



}
#itaba
{
	margin-left: 10px;

	
}
#itabb
{
	margin-left: 5px;

}

#itabc
{
	margin-left: 5px;

}
#itabd
{
	margin-left: 5px;
}

#itabe
{
	margin-left: 5px;
}

#itab1
{
	width: 940px;
	float: left;
	padding-left: 10px;
	background-color: #ffffff;

	border-top: 1px solid #d0ccc9; 

}
#itab2
{
	width: 940px;
	float: left;
	padding-left: 10px;
	background-color: #ffffff;

	border-top: 1px solid #d0ccc9; 
}	
#itab3
{
	width: 940px;
	float: left;
	padding-left: 10px;
	background-color: #ffffff;
	border-top: 1px solid #d0ccc9; 
}
#itab4
{
	width: 940px;
	float: left;
	padding-left: 10px;
	background-color: #ffffff;
	border-top: 1px solid #d0ccc9; 
}
#itab5
{
	width: 940px;
	float: left;
	padding-left: 10px;
	background-color: #ffffff;
	border-top: 1px solid #d0ccc9; 
}
.inner_class li {
	list-style:none;
	display:inline;
	}
.inner_class a {
	

	/*display:inline-block;
	background:#666;
	color:#fff;*/
	text-decoration:none;
	}
#options{
	background-color: #fff;
	padding-left:  20px;
	display: block;
}
#options a{

text-decoration:none;
}
#options_in
{
	background-color: #fff;
	padding-left:  20px;
	display: block;
}

/*________________________________*/
#checker_bot
{
	background:url(images_purple/checker_bot.png) no-repeat;
	height:20px;


}

#ads
{
	padding-left: 15px;
	width: 300px;
	float: right;
}

#ads_top
{
	background:url(images_purple/ads_top.png) no-repeat;
	height:20px;
	width: 300px;

}
#ads_con{
	background-color: #FFFFFF;
	padding: 0px 10px 0px 10px;
}

#ads_bot
{
	background:url(images_purple/ads_bot.png) no-repeat;
	height:20px;
	width: 300px;
}
#result_top
{
	width:950px;
	height:20px;
	background-image:url(images_purple/result-top.png);
}
#result_con
{
	background-color:#FFFFFF;
	width:930px;
	padding:0px 10px 0px 10px;

}
#result_bot
{
    width:950px;
	height:20px;
	background-image:url(images_purple/result_bot.png);
}
#result
{
	margin-left:10px;
}
#footer_bg
{
	height: 30px;
	padding-left: 50px;
	font-size:9px;	
 	background-image:url(images_purple/bottom.png); 
	background-color:#000000; /*b5b5b8 */
}