

*{
    margin: 0px;
    padding: 0px;
}


body{	
    font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#d5d2db;
}

#wrap a{
color:#FFFFFF;
}

.clear{
	clear: both;	
}

#logo_bot
{
	padding-top: 50px;
	padding-left: 50px;
	border-color: #FFFFFF;
	border-width: 20px;
}

#wrap{
	width: 997px;
	margin: auto;
}

#top_box{
	padding-bottom: 25px;
	background-image:url(images/logo.jpg);
	height: 150px;
	color:#FFFFFF;
}

/*logo*/
.header {font-size: 36px}
#logo{
	padding-left:20px;
	width: 500px;
	height: 66px;
	padding-top: 20px;
	float: left;
}


#login{
	float: left;
	padding-left: 100px;
	padding-top: 15px;
}


#content{
	background: #f2f1f9;
	padding-left: 20px;
	padding-right: 20px;	
	padding-bottom:20px;
	padding-top:30px;
}
#content a
{
  color:#000000;
}
#checker_top
{
	background:url(images/checker_top.png) no-repeat;
	height:20px;
}
#checker
{
	width: 600px;
	float: left;
	padding-left: 15px;
}

#checker_con
{
	background-color: #FFFFFF;
}
#tabs ul{
	list-style: none;
	list-style-position: outside;
}

#tabs ul.tabnames li{
	float: left;

}
#tabs ul.tabnames li{
	font-weight: 700;
	display: block;
	padding: 5px 10px 5px 10px;
	background: #efefef;
	margin-bottom: -1px;
	border: 1px solid #d0ccc9;
	border-width: 1px 1px 1px 1px;
	position: relative;
	color: #898989;
	cursor: pointer;
	background-image:url(images/button.png);
}
#tabs ul.tabnames li.active{
	background: #fff;
	top: 1px;
	border-bottom: 0;
	color: #5f95ef;
	background-image:none;

}
#tab1
{
	width: 580px;
	float: left;
	margin-left: 0px;
	background-color: #FFFFFF;
	padding : 10px;
}
#tab2
{
	width: 580px;
	float: left;
	background-color: #FFFFFF;
	padding : 10px;
}
#tab3
{
	width: 580px;
	float: left;
	background-color: #FFFFFF;
	padding : 10px;
}
.tabnames li {
	list-style:none;
	display:inline;
	}
.tabnames a {
	

	/*display:inline-block;
	background:#666;
	color:#fff;*/
	text-decoration:none;
	}

#taba
{
	margin-left: 10px;
}
#tabb
{
	margin-left: 5px;
}
#tabc
{
	margin-left: 5px;
}
#checker_bot
{
	background:url(images/checker_bot.png) no-repeat;
	height:20px;


}

#ads
{
	padding-left: 15px;
	width: 300px;
	float: right;
}

#ads_top
{
	background:url(images/ads_top.png) no-repeat;
	height:20px;
	width: 300px;

}
#ads_con{
	background-color: #FFFFFF;
	padding: 0px 10px 0px 10px;
}

#ads_bot
{
	background:url(images/ads_bot.png) no-repeat;
	height:20px;
	width: 300px;
}

#footer_bg
{
background-color:#330066;

